<div class="pt-8">
  <h3 class="text-2xl pt-8 pb-2">Shifts</h3>
  <%= form_with(model: @shift, local: true) do |f| %>
    <table class="table-fixed">
      <thead>
        <tr>
          <th class="px-4 py-2">Employee Name</th>
          <th class="px-4 py-2">Shift Date</th>
          <th class="px-4 py-2">Start Time</th>
          <th class="px-4 py-2">Finish Time</th>
          <th class="px-4 py-2">Break Length (minutes)</th>
          <th class="px-4 py-2">Hours worked</th>
          <th class="px-4 py-2">Shift cost</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each_with_index do |shift, index| %>
          <tr class="<%= 'bg-gray-100' if index.odd? %>">
            <td class="border px-4 py-2"><%= shift.user.name %></td>
            <td class="border px-4 py-2"><%= shift.start.to_date %></td>
            <td class="border px-4 py-2"><%= shift.start.strftime("%I:%M%p") %></td>
            <td class="border px-4 py-2"><%= shift.finish.strftime("%I:%M%p") %></td>
            <td class="border px-4 py-2"><%= shift.break_length %></td>
            <td class="border px-4 py-2"><%= shift.hours_worked %></td>
            <td class="border px-4 py-2"><%= shift.cost %></td>
            <% if policy(shift).update? %>
              <td class="border px-4 py-2 link"><%= link_to 'Edit', edit_shift_path(shift) %></td>
            <% else %>
              <td class="border px-4 py-2"></td>
            <% end %>
            <% if policy(shift).destroy? %>
              <td class="border px-4 py-2 link"><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td class="border px-4 py-2"></td>
            <% end %>
          </tr>
        <% end %>
        <tr id="new_shift">
          <td class="border px-4 py-2"><%= current_user.name %></td>
          <td class="border px-4 py-2"><%= f.date_field :date %></td>
          <td class="border px-4 py-2"><%= f.time_field :start %></td>
          <td class="border px-4 py-2"><%= f.time_field :finish %></td>
          <td class="border px-4 py-2"><%= f.text_field :break_length %></td>
          <td colspan="4" class="border px-4 py-2"><%= f.submit "Create Shift", class: "btn btn-blue" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>


  