<div class="pt-8">
  <h3 class="text-2xl pt-8 pb-2">Shifts</h3>
  <%= form_with model: @edit_shift, remote: true, id: "shift_form" do |f| %>
    <table class="table-fixed">
      <thead>
        <tr>
          <th class="px-4 py-2">Employee Name</th>
          <th class="px-4 py-2">Shift Date</th>
          <th class="px-4 py-2">Start Time</th>
          <th class="px-4 py-2">Finish Time</th>
          <th class="px-4 py-2">Break Length (minutes)</th>
          <th class="px-4 py-2">Hours worked</th>
          <th class="px-4 py-2">Shift cost</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each_with_index do |shift, index| %>
          <tr id="shift-<%= shift.id %>" class="<%= 'bg-gray-100' if index.odd? %>">
            <%= render partial: 'row', locals: {shift: shift} %>
          </tr>
        <% end %>
        <tr id="new_shift">
          <%= render partial: 'new', locals: {shift: @shift, f: f} %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
