<!DOCTYPE html>
<html>
  <head>
    <title>Adnatjk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mx-auto">
      <%= render 'flashes' %>
      <%= render 'navbar' unless !current_user.present? %>
      <h1 class="flex text-center py-2 text-5xl">Adnat</h1>
    </div>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
